body {
    background-image: url(./img/body.jfif);
    background-attachment: fixed;
}

.ul-nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.size-navlink {
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}
.size-navlink:hover {
    font-size: 20px;
    font-weight: bold;
    color: #00b8ff;
    
}
.ul-redes {
    list-style: none;
}
.a-redes{
    margin: 5px;
}
.img-redes {
    width: 30px;
}
.filtro-img-varias:hover{
 filter: blur(1px);
 border: solid black 1px;
}
